body {
  margin: 0px;
}

nav {
  position: fixed;
  top: 0%;
  left:0%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1vw 2vw;
  background-color: black;
}

.navigation {
  display: flex;
  gap: 20%;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
}

.nav-logo{
  display: flex;
  margin-left: auto;
}

/*Bild + Text*/
.hallo {
  display: flex;
  align-items: center;
}

/*Herzlich Willkommen*/
.begrüssung {
  width: 25%;
  height: 10%;
  margin: 8% 1%;
  font-size: clamp(3rem, 5vw, 8rem);
}

.startbild {
  margin-right: auto;
  width: 50%;
  height: 28%;
  margin: 4% 1% 4% 13%;
  ;
}  

.startbild img {
  width: 100%;
}

.begrüssungstext {
  width: 85%;
  padding: 0vw;
  border: 0vw;
  margin: auto;
  font-size: 3rem;
  line-height: 4rem;
}

p {
  font-size: clamp(3rem, 5vw, 8rem);
}
